#userLogin{min-height:100vh;padding:2rem 1rem;background:#bbb}
#userLogin fieldset{max-width:400px;margin:0 auto;padding:2rem;background:#fff}
#userLogin input{display:block;width:100%;margin:0 0 5px;padding:.5rem;border:1px solid #aaa}
#userLogin button{display:block;width:100%;text-align:center;line-height:46px;color:#fff;background:#4c4c4c}