<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인</title>
  </head>
  <body>
    <div>루트 화면입니다.</div>
    <div><a href="/login">로그인 화면으로 이동</a></div>
  </body>
</html>
